<div class="headline-box">
  <h2 class="huge-title">BROOKLYN POOP MAP by TWYSS</h2>
  <!-- <h2 class="huge-title">THE SIDEWALK IS A MINEFIELD</h2> -->
</div>

<div class="two-column">
  <div class="column">
    <div class="section">
      <h3 class="section-headline">THE TWYSS COMMUNITY</h3>
        <div>
        <p>
          Some cities have neighborhood watch groups. <strong>Brooklyn has us.</strong><br><br>
          Have you ever stepped in something and thought, "I wish someone had warned me"?<br>
          Ever wanted to make an impact on your neighborhood but also not really?<br>
          Do you believe in radical pedestrian safety?<br>
          <strong>Then you're one of us.</strong><br><br>
          Brooklyn Poop Map is the only (up to 3/9/2025) hyper-local, community-driven, and 100% unnecessary solution to this urban dilemma. Our team of unpaid, unqualified experts (read: random internet users) are mapping the menace one turd at a time.
        </p>
      </div>
      <div class="technical-stats">
        <div class="stat-counter"><%= poopCount %></div>
        <div class="stat-label">DOCUMENTED INSTANCES</div>
      </div>
      <a href="/submit" class="button-link" style="margin-top: 1.5rem; display: inline-block;">REPORT SIGHTING</a>
    </div>
  </div>

  <div class="column">
    <div class="section">
      <h3 class="section-headline">FAQ</h3>
        <p class="inverted">Q: Is this a joke?</p>
        <p>A: We wish.</p>
        <p class="inverted">Q: Who is responsible for cleaning this up?</p>
        <p>A: Great question. We'd love to know too.</p>
        <p class="inverted">Q: Do you track human poop?</p>
        <p>A: Listen. If you have to ask, you already know the answer.</p>
        <p class="inverted">Q: How accurate is this map?</p>
        <p>A: As accurate as the people of Brooklyn are honest.</p>
        <p class="inverted">Q: Can I submit a photo?</p>
        <p>A: Please don't. I added this feature only to show Sam I can. Please. We will ban you.</p>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="section">
      <h3 class="section-headline">HOW TO JOIN</h3>
      <p>1 🢂 Navigate to the <strong>REPORT</strong> page<br>
        2 🢂 Allow geolocation or manually select a point on the map<br>
        3 🢂 Add optional descriptive details<br>
        4 🢂 Submit your report to the database<br>
        5 🢂 View all reports on the <strong>MAP</strong> page</p>
      
      <a href="/map" class="button-link" style="margin-top: 1.5rem; display: inline-block;">VIEW THE MAP</a>
    </div>
  </div>
</div> 